@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Press+Start+2P&display=swap');

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: whitesmoke;
}

game {
  width: 40%;
  height: 50%;

  border: 2px solid rgb(20, 20, 20);
  border-radius: 8px;

  position: relative;
  overflow: hidden;
}

.player {
  position: absolute;
}

.ground {
  width: 100%;
  height: 40%;
  
  position: absolute;
  bottom: 0;
}

.start-button {
  width: 100px;

  transition: all 200ms;
  cursor: pointer;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start-button:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.poste {
  width: 20px;
  height: 50px;
 
  position: absolute;
}

.points {
  font-family: 'Press Start 2P';
  color: rgb(68, 68, 68);

  position: absolute;
  top: 15px;
  right: 15px;
}